@use '../base/variables' as vars;


.art {
    max-width: 70%;
    height: auto; 
    display: block; 
    margin-bottom: 1em; 
    margin-left: auto;
    margin-right: auto;

}



.page-home .row-three > article {
    background-color: #a5c956;
}