@use '../base/variables' as vars;

footer {
  text-align: center;
  padding: vars.$spacing-sm 0;
  margin-top: 3rem;

  > .logofoot img {
    margin-left: auto;
    margin-right: auto;
    width: vars.$small-logo;
    display: block;
    height: auto;
  }
}