@use '../base/variables' as vars;
@use '../base/mixins' as m;

.row-three {
  display: flex;
  margin-top: 3rem;
  gap: 1.4rem;
  flex-wrap: wrap;
  border-radius: 1%;
  padding-left: 2rem;
  padding-right: 2rem;

  > article {
    flex: 1 1 calc(33.33% - 1.4rem);
    padding: 1rem;
    min-height:auto;
    border-radius: vars.$radius;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  }
  
}

.form-contact {
  margin-top: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  @include m.colcenter;

  button {
    color: #04AA6D;
    background-color: vars.$color-dark-green;
    width: 4rem;
    height: 2rem;

    &:hover {
    color: white;
    transform: translateY(-5px);
    transition: transform 400ms ease;
    }
  }
}

.promo-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 4rem);
  height: 6rem;
  margin: 2rem auto; 
  border-radius: vars.$radius;
  overflow: hidden;

  .banner-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
  }

  .banner-text {
    position: relative; 
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    z-index: 2; 
  }
}

// Theme: Dark Mode Styles
#theme-switch {
      height: 3rem;
      width: 3rem;
      padding: 0;
      border-radius: 50%;
      background-color: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 1rem;
      right: 1rem;
      z-index: 3;
    }
    #theme-switch svg {
      fill: black;
    }
    #theme-switch svg:last-child {
      display: none;
    }
    .darkmode #theme-switch svg:first-child {
      display: none;
    }
    .darkmode #theme-switch svg:last-child {
      display: block;
    }
  
   
.darkmode {
  background-color: black;
  
  header {
    background-color: vars.$header-bg-variant;
  }
  main {
    background-color: black;

    h1, h2, h3, h4, h5, h6, p, a, li {
      color: green;
    }
    .row-three {
      background-color: black;
      > article {
        background-color: #300212;
        color: green;
      }
    }
  }
  footer {
    background-color: black;
    color: white;
  }
}


//Media Queries
@media (max-width: 720px) {
  .row-three > article {
    flex: 1 1 100%;
    padding: 0.8rem;
  }
  .promo-banner {
    height: 4rem;

    .banner-text {
      font-size: 1.5rem;
    }
  }
}
