$font-family: "Elms Sans", sans-serif;
$header-bg: #cdeb8e;
$header-bg-variant: #023020;
$color-dark-green: #004d00;
$color-black: #000000;
$spacing-sm: 12px;
$logo-width: 93px;
$small-logo: 50px;
$max-width: 1200px;
$radius: 8px;
$color-dark-green: #006400;
